<!DOCTYPE html>
<html>
  <head>
    <title>Wheeltime</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Wheeltime</h1>
        <hr />
        <p>Realtime flask app through long polling.</p>
        <p>Static files from <a href="https://github.com/heroku-examples/python-websockets-chat">Kenneth Reitz</a> and sine wave generator from <a href="http://zacharydenton.com/generate-audio-with-python">Zachary Denton</a>.</p>
      </div>
      <div id="chart"></div>
      <div class="page-header">
        <h1>Wheel Rolls</h1>
      </div>
      <div id="log">
      </div>
    </div>
    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
  </body>
</html>